.PromoContenedor{
    background-image: url('./assets/imagenes/fondo.jpg');
    background-repeat: no-repeat; 
  background-size: cover;       
  background-position: center;  
    width: 90%;
    margin: 0 auto;
    min-height: 250px;
}
.PromoContenedor h2{
    color: white;
    padding: 10px;
    text-align: center;
}
.PromoContenedor p{
    padding: 10px;
}